nav {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(0, 0, 0, 0.436);
    align-items: center;
    overflow: hidden;
    justify-content: flex-end;
}

nav>div {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    padding: 5px 0;
}

nav>div:hover {
    background-color: rgba(0, 0, 0, 0.134);
}

nav>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 24px;
    width: 100%;
}

.navigation-list li {
    opacity: .7;
    padding: 10px;
    transition: .3s ease;
}

.navigation-list li:hover {
    cursor: pointer;
    opacity: 1;
    background-color: #7e7e7e6b;
}

.nav-transform {
    max-height: 30px;
    transition: max-height 1s cubic-bezier(.01, .85, .46, .96);
}

.no-nav-transform {
    max-height: 300px;
    transition: max-height 1s cubic-bezier(.01, .85, .46, .96);
}